/* .university-link {
  cursor: pointer;
  font-family: "Ubuntu";
  color: red;
  font-size: 1.3rem;
  font-weight: 800;
}
.university-link:hover {
  cursor: pointer;
  font-family: "Ubuntu";
  color: rgba(73, 150, 143, 0.911);
  font-size: 1.3rem;
  font-weight: 800;
} 
*/
